<% if @properties.size == 0 %>
  <h2>No properties matched your search for "<%= @query %>"</h2>
  <h2><%= link_to "Be the first to review it", {action: "new",  query: params[:query] }  %></h2>
<% else %>
  <h2><%= @properties.size %> properties matched your search.</h2>
<% end %>
  <div class="form-group form-inline justify-content-center">
    <%= form_tag properties_find_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "user_input",
      onchange: "this.form.submit();",
      placeholder: "Find a property"
    %>
      <%= submit_tag "Search", remote: true, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="map"
       style="width: 100%; height: 400px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% @properties.each do |prop| %>
  <div>
    <%= link_to "Leave a review to #{prop.address}", new_property_review_path(prop) %> |
    <%= prop.latitude %> |
    <%= prop.longitude %> |
    <% if prop.reviews.size > 0 %>
      <%= link_to "See all reviews for this property", property_path(prop) %>
    <% end %>
  </div>
  <% end %>

