<h2><%= @properties.size %> properties matched your search.</h2>
<% if @properties.size == 0 %>
  <h2>Be the first to review it.</h2>
<% end %>
  <div class="form-group form-inline justify-content-center">
    <%= form_tag properties_find_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "user_input",
      placeholder: "Find a property"
    %>
      <%= submit_tag "Search", remote: false, class: "btn btn-primary" %>
    <% end %>
  </div>

  <div id="map"
       style="width: 100%; height: 400px;"
       data-markers="<%= @markers.to_json %>"
       data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>

  <% @properties.each do |prop| %>
  <div>
    <%= link_to prop.address, property_path(prop) %> |
    <%= prop.latitude %> |
    <%= prop.longitude %> |
    <%= link_to "See all reviews for this property", property_path(prop) %>
  </div>
  <% end %>

