<h1>Reviews for property in <%= @property.address.split(",").first %>, <%= @property.address.split(",")[-2] %></h1>

<%= link_to "<< Back to search results", {action: "find",  query: @property.address }  %>

<br><br>
<div class="row">
  <div class="col-xs-12 col-lg-7">

    <div class="review-photos-container">

      <div class="property-photos main-photo bg-dark mb-2 rounded">
      </div>

      <div class="property-photos small-photos d-flex justify-content-between flex-wrap align-items-center mb-3">
        <% @property.reviews.each do |review| %>
          <% review.photos.each do |photo| %>

              <%= cl_image_tag photo.key, crop: :fill, width: 204, class: "my-2 small-pic", id: "small-pic" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>


  <div class="review-content-container col-xs-12 col-lg-5">

    <% @property.reviews.order("created_at desc").each do |review| %>

      <div class="card-review bg-white p-3 rounded mb-3 shadow">
        <div class="d-flex justify-content-between">
          <strong>Reviewed by <%= review.user.name.capitalize %></strong>
          <p><%= '<i class="fas fa-star"></i>'.html_safe * review.stars %></p>
        </div>
        <small><%= review.created_at.strftime("%d-%m-%Y") %></small>
        <p><%= review.content %></p>
        <% if review.photos.attached? %>
          <div class="thumb-photos py-2">
            <% review.photos.each do |photo| %>
              <%= cl_image_tag(photo.key, crop: :fit, width: 100) %>
            <% end %>
          </div>
        <% end %>
        <% if current_user == review.user %>

            <%= link_to  "Edit",  edit_property_review_path(@property, review) %> |
            <%= link_to  '<i class="fas fa-trash-alt"></i>'.html_safe, review_path(review), method: :delete %>

        <% end %>
      </div>

    <% end %>
  </div>

</div>

<div class="my-3">
  <%= link_to "Leave a review for this property", new_property_review_path(@property), class: "btn btn-primary p-2" %>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
</div>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <img src="https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80">
    </div>
  </div>
</div>


<style type="text/css">
    .main-photo {
    height: 40vh;
    background-image: url(<% if @property&.reviews&.first&.photos&.attached? %>
      <%= cl_image_path @property&.reviews&.first&.photos&.first.key, crop: :fit, width: 700; %>
      <% else %>
      "https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80"
      <% end %>);
  }
</style>


<script>

var modal = document.getElementById("myModal");

// Get the image and insert it inside the modal - use its "alt" text as a caption
var imgs = document.querySelectorAll(".small-pic");
var modalImg = document.getElementById("img01");

imgs.forEach(img => {
  img.onclick = function(){
    modal.style.display = "block";
    modalImg.src = this.src;
  }
})

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>
