<h1>Reviews for this property in <%= @property.address %></h1>
<div class="container">
<div>
  <% @property.reviews.each do |review| %>

    <% review.photos.each do |photo| %>
      <%= cl_image_tag(photo.key, crop: :fit, width: 200) %>
    <% end %>


    <div class="card-review">
      <div class="d-flex justify-content-between">
        <strong>Reviewed by <%= review.user.name.capitalize %></strong>
        <p><%= '<i class="fas fa-star"></i>'.html_safe * review.stars %></p>
      </div>
      <small><%= review.created_at.strftime("%d-%m-%Y") %></small>
      <p><%= review.content %></p>
      <% if current_user == review.user %>
        <%= link_to  "Edit",  edit_property_review_path(@property, review) %>
        <%= link_to  '<i class="fas fa-trash-alt"></i>'.html_safe, review_path(review), method: :delete %>
      <% end %>
    </div>
  <% end %>
</div>
<div class="mt-5">
  <%= link_to "Leave a review", new_property_review_path(@property) %>
</div>

</div>
