<h1>Reviews for  <%= @property.address.split(",").first %>, <%= @property.address.split(",")[-2] %></h1>

<%= link_to "<< Back to search results", {action: "find",  query: @property.address }  %>

<br><br>
<div class="row">
  <div class="col-xs-12 col-lg-7">

    <div class="review-photos-container">

      <div class="property-photos main-photo bg-dark mb-2 rounded">
      </div>

      <div class="property-photos small-photos d-flex justify-content-between align-items-center mb-3">
        <% @property.reviews.each do |review| %>
          <% review.photos.each do |photo| %>
            <%= cl_image_tag photo.key, crop: :fill, width: 204, height: 130, class: "mr-2 smoll-pic" %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>


  <div class="review-content-container col-xs-12 col-lg-5">

    <% @property.reviews.order("created_at desc").each do |review| %>

    <div class="card-review bg-white p-3 rounded mb-3">
      <div class="d-flex justify-content-between">
        <% if review.user.name %>
          <strong style="font-weight: 600;">Reviewed by <%= review.user.name %></strong>
        <% else %>
          <strong style="font-weight: 600;">Reviewed by <%= review.user.first_name %></strong>
        <% end %>
        <p><%= '<i class="fas fa-star"></i>'.html_safe * review.stars %></p>
      </div>
      <small><%= review.created_at.strftime("%d-%m-%Y") %></small>
      <p><%= review.content %></p>
      <% if review.photos.attached? %>
      <div class="thumb-photos py-2">
        <% review.photos.each do |photo| %>
        <%= cl_image_tag(photo.key, crop: :fit, width: 100, class: "smoll-pic") %>
        <% end %>
      </div>
      <% end %>
      <% if current_user == review.user %>

      <%= link_to  "Edit",  edit_property_review_path(@property, review) %> |
      <%= link_to  '<i class="fas fa-trash-alt"></i>'.html_safe, review_path(review), method: :delete %>

      <% end %>
    </div>

    <% end %>
  </div>

</div>

<div class="my-3">
  <%= link_to "Leave a review for this property", new_property_review_path(@property), class: "btn btn-purple py-3 px-4" %>
</div>

<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content img-fluid" id="img01">
</div>


<style type="text/css">
.main-photo {
  height: 50vh;
  background-image: url(<% if @property&.reviews&.first&.photos&.attached? %>
  <%= cl_image_path @property&.reviews&.first&.photos&.first.key, crop: :fit, width: 700; %>
  <% else %>
  "https://images.unsplash.com/photo-1529408632839-a54952c491e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=600&q=80"
  <% end %>);
}

.fa-star {
  color: #f2e63a;
}

.review-content-container {
  height: 70vh;
  overflow: scroll;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.review-content-container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.review-content-container  {
    -ms-overflow-style: none;
}

.smoll-pic {
  transition: all .2s ease-in-out;
}

.smoll-pic:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: scale(1.1);
}


.small-photos {
  background-color: #eee;
  width: 100%;
  height: 140px;
  overflow-y: scroll; /* Add the ability to scroll */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.small-photos::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE and Edge */
.small-photos  {
    -ms-overflow-style: none;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 300px;
  color: #f1f1f1;
  font-size: 50px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}

</style>

