<h1>Reviews for property in <%= @property.address.split(",").first %>, <%= @property.address.split(",")[-2] %></h1>

<%= link_to "<< Back to search results", {action: "find",  query: @property.address }  %>

<br><br>
<div class="row">
  <div class="col-xs-12 col-lg-7">

    <div class="review-photos-container">

      <div class="property-photos main-photo bg-dark mb-2 rounded">
      </div>

      <div class="property-photos small-photos d-flex justify-content-start flex-wrap">
        <% @property.reviews.each do |review| %>
          <% review.photos.each do |photo| %>

              <%= cl_image_tag(photo.key, crop: :fill, width: 203, class: "mb-2 mr-2") %>
          <% end %>
        <% end %>
      </div>

    </div>

  </div>


  <div class="review-content-container col-xs-12 col-lg-5">

    <% @property.reviews.each do |review| %>

      <div class="card-review bg-white p-3 rounded mb-3 shadow">
        <div class="d-flex justify-content-between">
          <strong>Reviewed by <%= review.user.name.capitalize %></strong>
          <p><%= '<i class="fas fa-star"></i>'.html_safe * review.stars %></p>
        </div>
        <small><%= review.created_at.strftime("%d-%m-%Y") %></small>
        <p><%= review.content %></p>
        <% review.photos.each do |photo| %>
          <%= cl_image_tag(photo.key, crop: :fit, width: 100) %>
        <% end %>
        <% if current_user == review.user %>
          <div class="review-controls">
            <%= link_to  "Edit",  edit_property_review_path(@property, review) %> |
            <%= link_to  '<i class="fas fa-trash-alt"></i>'.html_safe, review_path(review), method: :delete %>
          </div>
        <% end %>
      </div>

    <% end %>
  </div>

</div>

<div class="mt-2">
  <%= link_to "Leave a review for this property", new_property_review_path(@property), class: "btn btn-primary" %>
</div>



<style type="text/css">
  .main-photo {
    height: 400px;
    background-image: url(<%= cl_image_path @property.reviews.last.photos.last.key, crop: :fit, width: 700; %>);
  }

  .review-controls {
    position: relative;
    float: right;
    bottom: -40px;
  }

  .fa-star {
    color: #f2e63a;
  }
</style>
