<nav>
  <div class="navbar">
    <!-- Navbar logo and returning to home link_to -->
    <%= link_to "/", class: "navbar-brand-home" do %>
    <%= image_tag "logo-una-consulta.svg" %>
    <% end %>
    <!-- End here -->

    <!-- If the user is signed in show this -->
    <% if user_signed_in? %>

    <%= link_to "Home", "#", class: "nav-link" %>

    <%= link_to "Messages", "#", class: "nav-link" %>

    <!-- This will be to the dropbdow menu -->

    <!-- <%= link_to "Action", "#", class: "dropdown-item" %>
    <%= link_to "Another action", "#", class: "dropdown-item" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %> -->
  </div>
  <!-- If usser not logged in show this other thing here -->
  <% else %>
  <li class="nav-item">
    <%= link_to "Login", new_user_session_path, class: "nav-link" %>
  </li>
  <% end %>
  <!-- End here -->
</nav>