<header>
  <div class="header-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <h1>Find properties</h1>
            <h1>or leave reviews</h1>
          <p>Research tenants' reputation before renting.<br>Write a review and leave your opinion<br>about the places you've lived.</p>
        </div>
        <div class="carousel-item">
          <h1>See our reviews </h1>
          <p>Help other people who need information<br> by leaving a review of the <br>places you have lived.</p>
        </div>
        <div class="carousel-item">
          <h1>Here you have information</h1>
          <h1>through other users.</h1>
          <p>Find out about the condition of the property, <br>neighborhood and location.</p>
        </div>
      </div>

      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>


    <div class="search-form">

        <div class="form-group form-inline d-flex justify-content-center align-items-center">
          <%= form_tag nil, id: "main-form", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control user_input",
              placeholder: "Type a property address",
              required: true
            %>
          <button id="find" class="btn-find">
            <i class="fas fa-location-arrow"></i>
          </button>
          <% end %>
        </div>
        <div class="arrows" style="position:relative">
          <a class="carousel-control-prev btn-esq" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
        </div>
    </div>
  </div>

</header>
<div class="propaganda">
  <div class="text-reviews">
    <p id="local">About us</p>
    <div class="text-info-home">
      <h1>Una Consulta</h1>
      <p>Our website is aimed at people who want to know more about the conditions in which the properties available to rent or buy are found, from the point of view of former residents through reviews. Our goal is to bring information to our users and give them the opportunity to give their opinion about the environment in which they have lived.</p>
    </div>
    <%= link_to root_path, class: "home-btn" do %>
      popular reviews <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>

  <div class="imagens-card-home">
    <div class="imagens-menores">
      <%= image_tag "interior1.jpg" %>
      <%= image_tag "interior2.jpg" %>
    </div>
    <%= image_tag "cozinha1.jpg", class: "imagem-maior" %>
  </div>

</div>
