<header>
  <div class="header-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507086182422-97bd7ca2413b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);">
            <div class="container-banner">
              <h1>Find a property or leave reviews</h1>
              <p>Find out if a property is well rated before rentin it. Leave a review and let the world know your opinion about a property or room you've lived in.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80);">
              <div class="container-banner">
                <h1>Find honest reviews</h1>
                <p>Make informed decisions before renting or buying a property. Make sure you're getting non-biased information from previous tenants.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534595038511-9f219fe0c979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
            <div class="container-banner">
              <h1>Sharing information and transparency</h1>
              <p>Find honest reviews from previous tenants. Estate agencies and landlords will never hide precious information from you again.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-buttons">
        <a class="btn-esq" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-arrow-left"></i>
        </a>

        <a class="btn-rgt" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>


    <div class="search-form-banner">
        <div class="form-group form-inline d-flex justify-content-center align-items-center">
        <p class="text-city">Search for cities, neighbourhoods or property addresses.</p>
          <%= form_tag nil, id: "main-form", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control user_input w-100",
              placeholder: "Type a property address",
              required: true
            %>
          <button id="find" class="btn-find">
            <i class="fas fa-search"></i>
          </button>
          <% end %>
        </div>

    </div>
  </div>

</header>
<div class="propaganda mb-4">
  <div class="text-reviews">
    <p id="local">About us</p>
    <div class="text-info-home">
      <h1>Una Consulta</h1>
      <p>Our website is aimed at people who want to know more about a property, its neighbourhood and surroundings before actually renting it.
      Some properties look awsome at first sight, only to be found later that they're not as good as they seemed.
      Tenants can leave honest reviews in unaconsulta so we can achive our goal, which is to bring information and transparency to our users and give them the opportunity to have their voices heard.
</p>
    </div>
    <%= link_to root_path, class: "home-btn" do %>
      popular reviews <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>

  <div class="imagens-card-home">
    <div class="imagens-menores">
      <%= image_tag "interior1.jpg" %>
      <%= image_tag "interior2.jpg" %>
    </div>
    <%= image_tag "cozinha1.jpg", class: "imagem-maior" %>
  </div>

</div>
<!-- testando -->
