<header>
  <div class="header-content">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1507086182422-97bd7ca2413b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=755&q=80);">
            <div class="container-banner">
              <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
              <p>Change your life and learn to code at one of our campuses around the world.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
            <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1502672260266-1c1ef2d93688?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=673&q=80);">
              <div class="container-banner">
                <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
                <p>Change your life and learn to code at one of our campuses around the world.</p>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1534595038511-9f219fe0c979?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);">
            <div class="container-banner">
              <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
              <p>Change your life and learn to code at one of our campuses around the world.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-buttons">
        <a class="btn-esq" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="fas fa-arrow-left"></i>
        </a>

        <a class="btn-rgt" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="fas fa-arrow-right"></i>
        </a>
      </div>
    </div>


    <div class="search-form-banner">
        <div class="form-group form-inline d-flex justify-content-center align-items-center">
        <p class="text-city">City, neighborhood or properties.</p>
          <%= form_tag nil, id: "main-form", method: :get do %>
          <%= text_field_tag :query,
              params[:query],
              class: "form-control user_input w-100",
              placeholder: "Type a property address",
              required: true
            %>
          <button id="find" class="btn-find">
            <i class="fas fa-search"></i>
          </button>
          <% end %>
        </div>

    </div>
  </div>

</header>
<div class="propaganda mb-4">
  <div class="text-reviews">
    <p id="local">About us</p>
    <div class="text-info-home">
      <h1>Una Consulta</h1>
      <p>Our website is aimed at people who want to know more about the conditions in which the properties available to rent or buy are found, from the point of view of former residents through reviews. Our goal is to bring information to our users and give them the opportunity to give their opinion about the environment in which they have lived.</p>
    </div>
    <%= link_to root_path, class: "home-btn" do %>
      popular reviews <i class="fas fa-arrow-right"></i>
    <% end %>
  </div>

  <div class="imagens-card-home">
    <div class="imagens-menores">
      <%= image_tag "interior1.jpg" %>
      <%= image_tag "interior2.jpg" %>
    </div>
    <%= image_tag "cozinha1.jpg", class: "imagem-maior" %>
  </div>

</div>
<!-- testando -->
