<div class='d-flex mt-3'>
  <div class="bg-white text-center p-4">
    <!-- <img src="" class="card-img-top" alt="..."> -->
      <div class="profile-img">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, crop: :fill, width: 200, height: 200, class: "avatar-lg" %>
        <% else %>
          <img src="https://avatars1.githubusercontent.com/u/302001?s=88&v=4"
            class="avatar-lg" alt="" width="200">
        <% end %>
      </div>
       <div class="user-name">
        <h1><%= current_user.name %></h1>
          <p><%= current_user.email %></p>
          <p>Our member since: <%= current_user.created_at.strftime("%d-%m-%Y") %></p>
        <%= link_to "Edit profile", user_reviews_path, class: "btn btn-outline-secondary" %>
      </div>
    </ul>
    <div class="card-body">
      <a href="#" class="card-link">All reviews</a>
    </div>
  </div>

  <div class="profile">
    <h2>My previous reviews</h2>

      <% current_user.reviews.each do |review| %>
        <div class="card m-2">
          <div class="card-body">
            <%= review.content %>
          </div>
        </div>
      <% end %>
  </div>
</div>
