
<h2>Reviewing property in <%= @property.address %></h2>


<%= simple_form_for [@property, @review], class: 'form-section' do |f| %>

<div class="d-flex">
  <%= f.input :content, input_html: { id: 'content-review' } %>
  <div class="select-fields">
    <%= f.input :checkin, input_html: {id: "booking_start_date"}, as: :string, type: :text  %>
    <%= f.input :checkout, input_html: { id: "booking_end_date" }, as: :string, type: :text  %>
    <%= f.input :stars, collection: (1..5).to_a, label: "Please, rate this property" %>
<%= f.input :photos, as: :file, input_html: { multiple: true } %>
    <%= f.submit "Leave review", class: "btn btn-primary" %>
  </div>
</div>

<% end %>

<%= link_to "<< Back to property", property_path(@property) %>
