<!DOCTYPE html>
<html>

<head>
  <title>Unaconsulta</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/dist/themes/dark.css">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">

  <meta name="description" content="unaconsulta">

  <!-- Facebook Open Graph data -->
  <meta property="og:title" content="Unaconsulta: find property reviews from previous tenants.">
  <meta property="og:type" content="website">
  <meta property="og:url" content="www.unaconsulta.com.br">
  <meta property="og:image" content="https://images.unsplash.com/photo-1501183638710-841dd1904471?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&h=630&w=1200&q=80">
  <meta property="og:description" content="Our website is aimed at people who want to know more about a property, its neighbourhood and surroundings before actually renting it.
      Some properties look awsome at first sight, only to be found later that they're not as good as they seemed.
      Tenants can leave honest reviews in Unaconsulta so we can achive our goal, which is to bring information and transparency to our users and give them the opportunity to have their voices heard.">
  <meta property="og:site_name" content="Unaconsulta">
</head>

<body>
  <%= render 'shared/navbar_home' %>

  <% unless @home_page %>
  <div class="container mt-5 pt-3">
    <% end %>

    <%= yield %>

    <% unless @home_page %>
  </div>
  <% end %>

</body>

</html>
