<!DOCTYPE html>
<html>

<head>
  <title>Unaconsulta</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
  <% if action_name == 'home' %>
  <%= render 'shared/navbar_home' %>
  <% else %>
  <%= render 'shared/navbar' %>
  <% end %>
  <%= render 'shared/flashes' %>

  <% unless @home_page %>
  <div class="container mt-5 pt-3">
    <% end %>

    <%= yield %>

    <% unless @home_page %>
  </div>
  <% end %>

</body>

</html>